.greetings {
  background-image: url(../../assets/polynesia.jpeg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
  margin-bottom: 2rem;
}

.greetings h2 {
  font-size: 1.5rem;
}

.overlay {
  background-color: rgba(102, 95, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffcc;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}

.form input {
  background: transparent;
  border: none;
  width: 82%;
  font-size: 1.1rem;
  margin-left: 10px;
}

.form input:focus {
  outline: transparent;
}

.greetings .form button {
  background: linear-gradient(45deg, var(--primary-dark-trsp) 0%, var(--primary-light-trsp) 100%);
  border: none;
  transition: 0.3s;
}

.greetings .form button:hover {
  background: linear-gradient(45deg, var(--primary-dark) 0%, var(--primary-light) 100%);
}

.greetings .form button:active {
  scale: 0.9;
}

@media screen and (max-width: 600px) {
  .greetings {
    background-position-x: 30%;
  }
}