.destinations {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}

.img-container {
  --gap: 1rem;
  --num-cols: 5;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  margin: auto;
  padding: 1rem 0;
  gap: var(--gap);
}

.destinations img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.img-columns-3 {
  grid-column: span 3;
}

.img-rows-2 {
  grid-row: span 2;
}

@media screen and (max-width: 940px) {
  .img-container {
    --gap: 0.7rem;
    --num-cols: 2;
  }

  .img-columns-3 {
    grid-column: span 2;
  }
}

