.navbar {
  color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: absolute;
  transition-delay: 0.3s;
  z-index: 1;
  font-size: 1.3rem;
}

.navbar-active {
  color: #000;
  background-color: #f5f5f5;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li:hover, .icon:hover {
  scale: 1.2;
}

.icon {
  transition: 0.3s;
  font-size: 1.3rem;
  margin: 5px;
}

li {
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.humburger {
  display: none;
}

.mobile-menu {
  display: none;
}

.logo h2 {
  color: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 940px) {
  .logo h2 {
    font-size: 1.6rem;
  }

  .mobile-menu {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -700px;
    left: 0;
    justify-content: space-between;
    background-color: #f5f5f5;
    transition: 0.9s;
    border-radius: 0 0 30px 30px;
  }

  .active {
    top: 80px;
  }

  .mobile-menu li {
    padding: 1.2rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
    transition: 0.5s;
    cursor: pointer;
    color: #000;
  }

  .mobile-menu li:hover {
    margin-left: 50px;
  }

  .mobile-menu li:active {

    margin-left: 1000px;
  }

  .mobile-nav {
    margin: 1rem 0;
  }

  .mobile-menu-bottom {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }

  .mobile-menu button {
    margin: 1rem;
    width: 90%;
    transition: 0.3s;
  }

  .mobile-menu button:hover {
    scale: 1.02;
  }

  .mobile-menu button:active {
    scale: 0.9;
  }

  .social-icons .icon {
    cursor: pointer;
    transition: 0.3s;
  }

  .social-icons .icon:hover {
    transform: scale(2.3);
  }

  .mobile-menu li {
    position: relative;
  }

  .nav-menu {
    display: none;
  }

  .nav-icons {
    display: none;
  }

  .humburger {
    font-size: 1.6rem;
    display: block;
    cursor: pointer;
  }

  .navbar-active .logo h2 {
    color: #000;
    transition-delay: 0.3s;

  }
}
