.search {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0;
}

.search .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;
}

.search-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.search .box {
  display: flex;
  min-width: 310px;
  align-items: center;
  text-align: center;
  margin: auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  background: linear-gradient(45deg, var(--primary-dark) 0%, var(--primary-light) 100%);
  border-radius: 20px;
  transition: 0.3s;
}

.promo:hover {
  scale: 1.02;
}

.promo-save {
  font-size: 1.6rem;
  color: #f5f5f5;
}

.promo-timer {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.promo-offers {
  color: #f5f5f5;
  border-radius: 5px;
}

.search form {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
}

.search input, select {
  font-size: 1rem;
}

.search .date {
  display: flex;
}

.search button {
  margin: 0.4rem;
}

@media screen and (max-width: 940px) {
  .search .container {
    grid-template-columns: 1fr;
  }

  .search-col-2 {
    grid-template-columns: 1fr;
  }

  .search .right {
    max-width: 100%;
  }

  .search form {
    width: 100%;
  }

  .search .date {
    flex-direction: column;
  }
}
